<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/animate.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://use.fontawesome.com/450228d240.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#portfolio-navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand animated slideInLeft" href="#">
                    <img class="brand-img" alt="Brand" src="/images/brand.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="portfolio-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#landing-section">Home</a></li>
                    <li><a href="#about-section">About</a></li>
                    <li><a href="#projects-section-before">Projects</a></li>
                    <li><a href="#contact-section">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="landing-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8 col-xs-12">
                    <img class="img-fluid img-thumbnail profile-pic" src="/images/umbrella-me.jpg" alt="me">
                    <h1>Anthony Bruscantini</h1>
                    <h2>Full-Stack Web Developer - and a cool guy.</h2>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>

    <div id="about-section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8 col-xs-12">
                    <h1>About Me</h1>
                    <hr style="border: 2px solid #813772; width: 25%; margin-left: 38%; margin-bottom: 0">
                    <p>I'm a recent graduate of <a href="https://www.ironhack.com/">Ironhack</a> and I love helping people using software! I live in Miami and when I'm not coding, I like to play basketball, guitar, study history, and learn about new technologies!
                    </p>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="projects-section-before">
        <div class="row">
            <div class="col-xs-12">
                <h1>Projects</h1>
                <hr style="border: 2px solid #813772; width: 25%; margin-left: 38%; margin-bottom: 0">
            </div>
        </div>
    </div>

    <div id="projects-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-12 project" id="project1">
                    <img id="risk-logo" src="images/risk_logo.png" alt="risk">
                    <img class="img-fluid img-thumbnail project-pic" src="images/risk-ss.png" alt="bruscantini.github.io/risk">
                    <p>An implementation of RISK: the global domination game. I used HTML5, CSS3 and JavaScript</p>
                </div>
                <div class="col-md-4 col-xs-12 project" id="project2">
                    <h2 id="matchfacts-logo">Matchfacts.co</h2>
                    <img class="img-fluid img-thumbnail project-pic" src="images/matchfacts-ss.png" alt="matchfacts.co">
                    <p>A web app to statistically compare NBA basketball players. I used HTML, CSS, Node.js, Angular2, and MongoDB</p>
                </div>
                <div class="col-md-4 col-xs-12 project" id="project3">
                    <h2 id="swapper-logo">SWAPPER</h2>
                    <img class="img-fluid img-thumbnail project-pic" src="images/swapper-ss.png" alt="el-swapper.herokuapp.com">
                    <p>A bartering website that allows users to trade things (no money!). I used HTML, CSS, Node.js, ExpressJS, and MongoDB</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 col-xs-12">
                    <h1>Hit me up!</h1>
                    <hr style="border: 2px solid #FFFFFF; width: 25%; margin-left: 38%">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span id="email">ajbruscantini@gmail.com</span>

                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row social-row">
                <div class="col-xs-12">
                    <a class="social animated rotateIn" href="https://www.facebook.com/anthony.bruscantini" target="_blank"><i class="fa fa-facebook social-icon fa-4x" aria-hidden="true"></i></a>
                    <a class="social animated rotateIn" href="https://github.com/bruscantini" target="_blank"><i class="fa fa-github social-icon fa-4x" aria-hidden="true"></i></a>
                    <a class="social animated rotateIn" href="https://www.linkedin.com/in/bruscantini/" target="_blank"><i class="fa fa-linkedin social-icon fa-4x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
